{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'ideas/css/ideas.css' %}">
{% endblock %}

{% block content %}
<div class="glass-card">
    <h1>Генерація ідеї</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="glass-button">Згенерувати</button>
    </form>

    <p style="margin-top:20px;">
        Після генерації ви будете автоматично перенаправлені на сторінку створеної ідеї.
    </p>
</div>
{% endblock %}

