{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock %}

{% block content %}

<div class="glass-container">
    <h2 class="title">Відновлення пароля</h2>

    <form method="post" class="form-glass">
        {% csrf_token %}

        <label>Email</label>
        {{ form.email }}

        <button type="submit" class="btn-glass">Надіслати</button>
    </form>

    <div class="alt-link">
        <a href="{% url 'accounts:login' %}">Повернутися до входу</a>
    </div>
</div>

{% endblock %}

