{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
    <title>Зміна пароля</title>
</head>

<body>
<div class="glass-card">
    <h2 class="title">Зміна пароля</h2>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="field">
            <label>{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}

        <button class="btn">Оновити пароль</button>
    </form>

    <div class="alt-link">
        <a href="{% url 'profile' %}">Назад</a>
    </div>
</div>
</body>
</html>
