/* Центрування */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #141e30, #243b55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

/* GLASS CONTAINER */
.glass-container {
    width: 380px;
    padding: 40px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

    text-align: center;
    color: #fff;
}

/* Заголовок */
.title {
    font-size: 30px;
    margin-bottom: 25px;
}

/* Форма */


.form-glass input,
.form-glass select,
.form-glass textarea {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 18px;

    box-sizing: border-box;

    border-radius: 12px;
    border: none;

    background: rgba(255, 255, 255, 0.25);
    color: #ffffff;
}

.form-glass input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Кнопка */
.btn-glass {
    width: 60%;
    padding: 12px;

    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 12px;

    cursor: pointer;
    font-size: 18px;
    font-weight: 600;

    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.btn-glass:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #333;
}

/* Додаткове посилання */
.alt-link {
    margin-top: 15px;
    font-size: 14px;
}

.alt-link a {
    color: #fff;
    font-weight: 600;
}

/* Профіль */
.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 6px 0;
}

/* ===== Посилання ===== */
.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    color: #e8e8e8;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}


